html{
  height: 100%;
  margin: 0;
  padding: 0;
}
.cuerpo_tienda {
  height: 100%;
  margin: 0;
  padding: 10px;
  background-color: rgb(80, 86, 91);
}
.categorias{
    width: 40%;
    height: 80%;
}
.tienda_primera_sec{
  display: flex;
  flex-direction: row;
  border: solid 4px rgb(255, 255, 255);
  height: 450px;
  width: 100%;
  padding: 4px;
  margin-bottom: 10px;
}
.tienda_segunda_sec{
  display: flex;
  flex-direction: row;
  border: solid  4px rgb(255, 255, 255);
  height: 450px;
  width: 100%;
  margin-bottom: 10px;
}
.tienda_tercera_sec{
  display: flex;
  flex-direction: row;
  border: solid 4px rgb(255, 255, 255);
  height: 450px;
  width: 100%;
  margin-bottom: 10px;
}